/* Sidebar Container */
.sidebar {
    flex: 3;
    /* Minus the size of topbar from height */
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}


/* Styling the Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}


/* Wrapper for Sidebar */
.sidebarWrapper {
    padding: 20px;
}

/* List Of Icons */
.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Sidebar Icon Container */
.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Sidebar Icon */
.sidebarIcon {
    margin-right: 15px;
}


/* Show More Button */
.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

/* Horizontal Line Break between Lists */
.sidebarHr {
    margin: 20px 0;
}


/* Friend List Container */
.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

