/* Rightbar Container */
.rightbar {
    flex: 3.5;
}

/* Rightbar Wrapper */
.rightbarWrapper {
    padding: 20px 20px 0 0;
}

/* Birthday Section Container */
.birthdayContainer {
    display: flex;
    align-items: center;
}

/* Birthday Icon */
.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Birthdays Info */
.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

/* Advertisement */
.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

/* Online Friends Title */
.rightbarTitle {
    margin-bottom: 20px;
}

/* Online Friend list Container */
.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

